.navbar-text {
	text-align:center;
	color:red;
}

.center {
	text-align: center;
	align: center;
}

div.center {
	margin-top: 30%;
}

#txtSub {
	margin-top:10px;
}

.body-margins {
	margin:10px;
}

#followerTest {
	text-align:center;
}

.header {
	text-align: center;
	color: green;
	font-family: serif;
}

#fileIn {
    display: none;
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;}

div.show-image:hover input
  {
  display: block;
  }

div.show-image input {
    position:absolute;
    top:0;
    left:0;
    display:none;
}

input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 75%;
}

.searchbar {
	align:center;
	text-align:center;
}

#profileList {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

#profileList .profile .profileLink {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#profileList .profile .profileLink:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#userWelcome{
	padding-top:20px;
	font-size: 60px;
	padding-bottom:20px;
}
#welcomePageBody{
	background-color: white;
}

#welcomePageBody::after{
	content: "";
	background: url("../images/background-welcome.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;	
}


.welcomePageText{
	color:white;
	text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
}