#userNav{
	position: float;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top:4px;
	text-align: center;
}
#followNav{
	position: absolute;
	width: 80px;
	text-align: center;	
}

.welcome-page {
	width:100%;
	height:100%;
	background:radial-gradient(#b3e6f2, #22b6d8);
}

.center {
	text-align: center;
	align: center;
}

div.center {
	margin-top: 15%;
}

#txtSub {
	margin-top:10px;
}

.body {
	margin:10px;
	font-family:'Roboto', sans-serif;
	
}

#followerTest {
	text-align:center;
}

.header {
	text-align: center;
	margin:10px auto;
}

#fileIn {
    display: none;
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}

div.show-image:hover input
  {
  display: block;
  }

div.show-image input {
    position:absolute;
    top:0;
    left:0;
    display:none;
}

div.post-heading input{
	display:none;
}
div.post-heading:hover input{
	display:block;
}

#searchText {
	margin:auto;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchText:focus {
    width: 50%;
}

.searchbar {
	align:center;
	text-align:center;
}

#profileList {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

#profileList .profile .profileLink {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#profileList .profile .profileLink:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#userWelcome{
	padding-top:20px;
	font-size: 60px;
	padding-bottom:20px;
}
#welcomePageBody{
	background-color: white;
}

#settingsLayout {
	text-align: center;
}

#settings {
	text-align: center;
  	width: 60%;
  	background-color: #eee;
  	display: block;
  	margin:auto;
  	padding:10px;
  	padding-bottom:1px;
}

.profileImageWrapper {
	position:relative;
}

.profileImage {
	position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#commentWrapper {
	position:relative;
	margin:auto;
}

#commentForm {
	position:relative;
    display:inline;   
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.username-display {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
}
